{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <link rel="stylesheet" href = "{% static 'css/style.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Craigslist Clone</a>
  </div>
</nav>

<div class="container">
<h1 class="text-center">What do you want to search for on Searchlist here?</h1>
</div>
   
<div class="container" style="padding: 40px">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://www.flaticon.com/svg/static/icons/svg/312/312246.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Filter Your Search</h5>
    <p class="card-text">We built in functionality to filter based on pricing</p>
    
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
      <img src="https://www.flaticon.com/svg/static/icons/svg/1779/1779924.svg"  class="card-img-top" alt="..."/>
  <div class="card-body">
    <h5 class="card-title">Fast ceaiglist web scraper</h5>
    <p class="card-text">scraper away right here with a beautiful GUI</p>
    
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img src="https://www.flaticon.com/svg/static/icons/svg/3638/3638142.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">A much better than Craiglist</h5>
    <p class="card-text">Built with ❤</p>
    
  </div>
</div>
    </div>
  </div>
</div>


<div class="container">

<form action="{% url 'new_search' %}" method="post">{% csrf_token %}

<input class="form-control form-control-lg" type="text" placeholder="Search" name="search">

{% comment %} 
<input class="form-control" type="text" name="max_field_cust" id="max_field_cust" placeholder="Max money">


<input class="form-control" type="text"name="min_field_cust" id="min_field_cust" placeholder="Min money"> {% endcomment %}


<button type="submit" class="btn btn-primary" style="margin-top: 11px">Submit</button>

</form>


{% block content %}
{% endblock content %}



</div>









    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper.js and Bootstrap JS
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    -->
  </body>
</html>